header{
	background-image: url("https://www.camping-ametza.com/wp-content/uploads/2021/12/camping-restaurant.jpg");
	background-repeat: no-repeat;
	height: 90px;
	text-align: center;
	font-family: times new roman;
	color: white;
	padding-top: 20px;
}
body{
	font-family: times new roman;
	background-image: url("https://assets.simpleviewcms.com/simpleview/image/fetch/c_fill,h_1080,w_1920/f_jpg/q_65/https://media.newmindmedia.com/TellUs/image/%3Ffile%3DDA8697F5B911DCCCED6E44803E5162CCCC935636.jpg&dh%3D533&dw%3D800&t%3D4");
	background-repeat: repeat-y;
}
nav{
	font-size: 20px;
	font-family: times new roman;
}

.mision{
	margin-left: 40px;
	margin-right: 10px;
	font-family: times new roman;

}
.img1{
	margin-left: 40px;
	margin-right: 30px;
 	border-radius: 15%;
 	width: 20%;
}
.img2{
	margin-left: 35px;
 	border-radius: 15%;
 	width: 20%;
}
.historia{
	font-family: times new roman;
	font-size: 20px;
	margin-left: 40px;
	margin-right: 20px;
	
}

.detalles{
	font-size: 20px;
	font-family: times new roman;
	margin-left: 40px;
	margin-right: 30px;
}
footer{
	margin-top: 20px;
	padding: 20px;
	background-color: #FDE819;
	text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	body{
	font-family: times new roman;
	background-image: url("https://img.freepik.com/vector-premium/banner-costuras-iconos-vegetales-contorno-patron-alimentos-boceto_522613-427.jpg?w=2000");
	background-repeat: repeat-y;
}

.historia{
	font-size: 18px;
	margin-left: 25px;
}
.detalles{
	font-size: 18px;
	margin-left: 25px;
}
.mision{
	margin: 10%;
	margin-left: 10%;
	font-size: 18px;
}
.img1{
	border-radius: 20%;
 	width: 45%; 
}
.img2{
	margin-right: 10%;
	border-radius: 20%;
 	width: 55%; 
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

.historia{
	font-size: 19px;
	margin-left: 25px;
}
.detalles{
	font-size: 19px;
	margin-left: 25px;
}
.mision{
	margin-left: 30px;
	font-size: 19px;
}
.img1{
	border-radius: 20%;
 	width: 40%; 
}
.img2{
	margin-right: 10%;
	border-radius: 20%;
 	width: 35%; 
}
}

/*Dispositivos mas grandes*/
@media (min-width: 1200px) { 
		

}